.moviecard {
  flex: 0 0 auto;
  position: relative;
  width: 240.12px;
  height: fit-content;
}

.imageContainer {
  position: relative;
  height: 360px;
  width: 240.12px;
  border-radius: 35px ;
  overflow: hidden;
}

.card-img-top {
  transition: all 0.3s ease;
}

.overview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 35px;
  box-sizing: border-box;
  max-height: 100%;
  overflow: hidden;
}

.imageContainer:hover .overview {
  opacity: 1;
}

.overview p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 1.4;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  color: #333;
  font-size: 1.2rem;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  color: #333;
  font-size: 1.2rem;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
